.container {

}

video{
  --width: 30%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  margin: 0 10px 20px 0;
  vertical-align: top;
  background-color: black;
}

button {
  margin-right: 20px;
  display: inline;
}

.statistic {
  --width: 30%;
}
